@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    color: #c4cfde;
    outline: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
}

a {
    color: inherit;
}

.flex {
    display: flex;
}

.j_between {
    justify-content: space-between;
}

.j_around {
    justify-content: space-around;
}

.j_center {
    justify-content: center;
}

.a_center {
    align-items: center;
}

.text_center {
    text-align: center;
}

.f_column {
    flex-direction: column;
}

.heading {
    text-align: center;
}

.heading_second {
    font-size: 60px;
    font-weight: 700;
}


.heading_first {
    color: #f9004d;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.font_first {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 32px;
}

.font_second {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 22px;
    font-weight: 500;
}

.box_style {
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 10px;
    background: linear-gradient(145deg, #1e2024, #23272b);
}


/* Aside */

aside {
    background-color: #212428;
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100vh;
    padding: 50px 40px 40px;
    font-family: "Poppins", sans-serif;
    color: #e4e6ea;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #32363b;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

.menu {
    padding: 30px 0 0 10px;
}

.menu li {
    font-size: 17px;
    margin: 19px 0;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}


.menu li a {
    display: flex;
    align-items: center;
}

.menu li img {
    filter: invert(100%);
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.aside_bottom {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    margin-top: 40px;
    padding-top: 20px;

}

.aside_bottom h4 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.aside_bottom ul li {
    font-size: 18px;
    height: 53px;
    width: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    margin-right: 10px;
}


/* Right Area  */
#right_area {
    width: 82vw;
    float: right;
}

/* Home */
#home {
    background-color: #212428;
    height: 100vh;
    border-bottom: 1px solid #2c3037;
}

.home_content img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 10px solid gray;
    margin-bottom: 20px;
}

.home_content h2 {
    font-size: 48px;
    color: white;
}

.home_content p {
    font-weight: 300;
    font-size: 30px;
    margin: 20px 0;
}

.home_content button {
    background: linear-gradient(145deg, #1e2024, #23272b);
    border: 0;
    border-radius: 6px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    font-size: 14px;
    font-weight: 500;
    color: #ff014f;
    padding: 20px 40px;
    cursor: pointer;
    text-transform: uppercase;
}

/* Feature */
#contact,
#features,
#portfolios,
#education,
#skills,
#experience {
    padding: 80px 30px;
    background-color: #212428;
    border-bottom: 1px solid #2c3037;
}

.features,
.portfolios {
    padding-top: 50px;
}

.feature,
.portfolio {
    width: 32%;
    padding: 35px 50px;
}

.feature i {
    font-size: 40px;
    margin: 10px 0 30px;
    color: #ff014f;
}

/* Portfolios */
.portfolio {
    padding: 30px 30px 10px;
}

.portfolio_img img {
    width: 100%;
    border-radius: 10px;
}

.portfolio .heading_first {
    font-size: 12px;
    font-weight: 500;
}

.portfolio_text span:last-child {
    font-size: 13px;
    color: #878e99;
}

.portfolio_text span:last-child i {
    margin-right: 8px;
}

.portfolio_text>div {
    padding: 20px 0;
}


/* Experience */
.experiences {
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.experience {
    width: 48%;
    padding: 40px;

}

.experience_text {
    width: 71%;
}

.experience_img {
    width: 20%;
}

.education_logo img,
.experience_img img {
    width: 120px;
    height: 120px;
}

.experience_text .font_first {
    margin-bottom: 10px;
}

.experience_text span {
    font-style: italic;
    font-size: 14px;
}

.experience_text ul{
    font-size: 13px;
    margin-top: 12px;
    opacity: 0.7;
}

.experience_text ul li{
    margin:7px 0;
}


/* Skills */

.skills {
    width: 50%;
}

.skill {
    margin: 30px 20px;
}

.skill-label {
    margin-bottom: 5px;
    color: #c3cedd;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    opacity: .9;
    text-transform: uppercase;
}

.progress {
    width: 100%;
    background: #212428;
    border-radius: 10px;
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, .459), inset -8px -8px 16px rgba(56, 62, 69, .459);
    height: 13px;
    padding: 3px;
}

.progress-bar {
    width: 0;
    height: 13px;
    color: white;
    text-align: center;
    background: linear-gradient(145deg, #f02981, #c81901);
    border-radius: 14px;
    font-size: 11px;
}

.progress-bar[data-value="25%"] {
    width: 25%;
}

.progress-bar[data-value="50%"] {
    width: 50%;
}

.progress-bar[data-value="75%"] {
    width: 75%;
}

.progress-bar[data-value="100%"] {
    width: 100%;
}
